body {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
a:hover	{
	text-decoration: underline;
}
h1 {
	text-align:center;
	margin-bottom:0;
}
ul {
	list-style: none;
	margin:0;
	padding:0;
}
li {
	display:inline-block;
}
button {
	padding:10px;
	width: 100px;
}
.header-div button {
	width:auto;
	min-width:100px;
}
.header-menu-left button {
	margin-right:5px;
}
.header-menu-right button {
	margin-left:5px;
}
.tag-button {
	padding:5px;
	width:auto;
	margin-right:5px;
}
.copy-button {
	padding:5px;
	width:auto;
	margin-left:20px;
}
.big-button {
	width:100%;
}
.close-button, .submit-button {
	margin:0 auto;
	display:block;
}

input {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	margin-bottom:5px;
}
textarea {
	resize:none;
	font-family:arial;
	width:100%;
	padding:10px;
	box-sizing:border-box;
}
.header-menu-left {
	float:left;
}
.header-menu-right {
	float:right;
}
.clearfix:after {
	content: '';
	clear: both;
	display: table;
}
.main-container {
	width:600px;
	background:#bbf174;
	margin:auto;
	padding: 20px 20px;
	border:1px solid black;
}
.create-result, .view-result, .view-tag-result {
	display: none;
}
.login-container, .message-container {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(64, 64, 64, 0.8);
}
.login-menu, .message-menu{
	position: relative;
	top: 50px;
	width: 300px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	padding: 0 15px;
}
.close-menu {
	position: absolute;
	top: 15px;
	right: 15px;
}
.header-userName {
	margin-right:20px;
	color:red;	
}
.warning {
	color:red;
}
.redirect {
	display: inline-block;
	float: right;
	vertical-align: bottom;
}
.edit {
	display: inline-block;
	margin-left:30px;
	vertical-align: bottom;
}